* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}
.v1920_300 {
  width: 100%;
  height: 640px;
  background: rgba(240, 141, 122, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v1920_301 {
  width: 502px;
  height: 77px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 389px;
  overflow: hidden;
}

.v1920_302 {
  width: 212px;
  height: 46px;
 
  opacity: 1;
  position: absolute;
  top: 245px;
  left: 534px;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%,0);
}

.v1920_308 {
  width: 382px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 126px;
  left: 449px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 36px;
  opacity: 1;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}

.v1920_309 {
  width: 100%;
  height: 51px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 312px;
  overflow: hidden;
}

.v1920_310 {
  width: 278px;
  height: 100%;
  padding: 16px 32px;
  opacity: 1;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}

.v1920_311 {
  width: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.nameinput {
  width: 212px;
  height: 50px;
  background: rgba(255,255,255,1);
  position: absolute;
  border: none;
  border-radius:38px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 18px;
  text-align: center;
}
.nameholder {
  width: 250px;
  height: 50px;
  opacity: 1;
  position: relative;
  top: 307px;
  left: 534px;
  text-align: center;
  overflow: hidden;
  background-position: center center;
}


.v1920_286 {
  width: 100%;
  height: 4652px;
  background: rgba(240, 141, 122, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v1920_287 {
  width: 212px;
  height: 77px;
  background: rgba(240, 141, 122, 1);
  opacity: 1;
  position: absolute;
  top: 269px;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%,0%);
}

.v1920_288 {
  width: 212px;
  height: 77px;
  background: rgba(240, 141, 122, 1);
  opacity: 1;
  position: absolute;
  top: 369px;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%,0%);
}
.passwordholder {
  width: 212px;
  height: 77px;
  opacity: 1;
  position: relative;
  top: 469px;
  left: 534px;
  border: none;
  overflow: hidden;
}
.v1920_289 {
  width: 212px;
  height: 77px;
  background: rgba(240, 141, 122, 1);
  opacity: 1;
  position: absolute;
  top: 463px;
  left: 534px;
  overflow: hidden;
}

.startholder {
  width: 100%;
  height: 51px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 50%;
  overflow: hidden;
  text-align: center;
  
}

.start {
  width: 250px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 50%;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
  transform: translate(-50%,0%);
}
.dropStars {
  width: 100%;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 50px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
  transform: translate(-23%,0%);
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 20px;
}

.v1920_290 {
  width: 100%;
  position: absolute;
  top: 749px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 25px;
  opacity: 1;
  text-align: center;
  left: 50%;
  transform: translate(-50%,0%);
}

.v1920_291 {
  width: 212px;
  height: 77px;
  background: rgba(240, 141, 122, 1);
  opacity: 1;
  position: absolute;
  top: 893px;
  right: 20%;
  overflow: hidden;
}
.v1708_1 {
  width: 181px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 311px;
  left: 59px;
  overflow: hidden;
}

.v1920_292 {
  width: 212px;
  height: 77px;
  background: rgba(240, 141, 122, 1);
  opacity: 1;
  position: absolute;
  top: 980px;
  right: 20%;
  overflow: hidden;
}

.v1920_293 {
  width: 212px;
  height: 77px;
  background: rgba(240, 141, 122, 1);
  opacity: 1;
  position: absolute;
  top: 1083px;
  right: 20%;
  overflow: hidden;
}

.v1920_294 {
  width: 212px;
  height: 77px;
  background: rgba(240, 141, 122, 1);
  opacity: 1;
  position: absolute;
  top: 1183px;
  right: 20%;
  overflow: hidden;
}

.v1919_0 {
  width: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1372px;
  left: 334px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 25px;
  opacity: 1;
  text-align: center;
  left: 50%;
  transform: translate(-50%,0%);
}

.v1919_3 {
  width: 212px;
  height: 77px;
  background: rgba(240, 141,122, 1);
  opacity: 1;
  position: absolute;
  top: 1622px;
  right: 20%;
  overflow: hidden;
}

.v1919_4 {
  width: 212px;
  height: 77px;
  background: rgba(240, 141, 122, 1);
  opacity: 1;
  position: absolute;
  top: 1955px;
  right: 20%;
  overflow: hidden;
}

.v1919_7 {
  width: 212px;
  height: 77px;
  background: rgba(240, 141, 122, 1);
  opacity: 1;
  position: absolute;
  top: 1844px;
  right: 20%;
  overflow: hidden;
}

.v1919_8 {
  width: 212px;
  height: 77px;
  background: rgba(240, 141, 122, 1);
  opacity: 1;
  position: absolute;
  top: 1733px;
  right: 20%;
  overflow: hidden;
}

.v1919_9 {
  width: 100%;
  position: absolute;
  top: 2129px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 25px;
  opacity: 1;
  text-align: center;
  left: 50%;
  transform: translate(-50%,0%);
}

.v1919_12 {
  width: 212px;
  height: 77px;
  background: rgba(240, 141, 122, 1);
  opacity: 1;
  position: absolute;
  top: 2383px;
  right: 20%;
  overflow: hidden;
}

.v1919_13 {
  width: 212px;
  height: 77px;
  background: rgba(240, 141, 122, 1);
  opacity: 1;
  position: absolute;
  top: 2716px;
  right: 20%;
  overflow: hidden;
}

.v1919_16 {
  width: 212px;
  height: 77px;
  background: rgba(240, 141, 122, 1);
  opacity: 1;
  position: absolute;
  top: 2605px;
  right: 20%;
  overflow: hidden;
}

.v1919_17 {
  width: 212px;
  height: 77px;
  background: rgba(240, 141, 122, 1);
  opacity: 1;
  position: absolute;
  top: 2494px;
  right: 20%;
  overflow: hidden;
}

.v1914_61 {
  width: 100%;
  position: absolute;
  top: 2887px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 25px;
  opacity: 1;
  text-align: center;
  left: 50%;
  transform: translate(-50%,0%);
}

.v1914_62 {
  width: 100%;
  height: 77px;
  background: rgba(240, 141, 122, 1);
  opacity: 1;
  position: absolute;
  top: 3009px;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%,0%);
}

.v1914_63 {
  width: 212px;
  height: 77px;
  background: rgba(240, 141, 122, 1);
  opacity: 1;
  position: absolute;
  top: 3110px;
  left: 534px;
  overflow: hidden;
}

.v1914_64 {
  width: 100%;
  height: 77px;
  background: rgba(240, 141, 122, 1);
  opacity: 1;
  position: absolute;
  top: 3110px;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%,0%);
}

.v1921_0 {
  width: 100%;
  height: 59px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 883px;
  overflow: hidden;
}

.v1921_1 {
  width: 212px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: 0px;
  left: 20%;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  transform: translate(-50%,0%);
}

.v1921_8 {
  width: 100%;
  height: 39px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1611px;
  overflow: hidden;
}

.v1921_9 {
  width: 212px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: 0px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  left: 20%;
  transform: translate(-50%,0%);
}

.v1921_16 {
  width: 100%;
  height: 39px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2372px;
  overflow: hidden;
}

.v1921_17 {
  width: 212px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  left: 20%;
  transform: translate(-50%,0%);
}

.v1921_2 {
  width: 100%;
  height: 29px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 974px;
  overflow: hidden;
}

.v1921_3 {
  width: 212px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  left: 20%;
  transform: translate(-50%,0%);
}

.v1921_10 {
  width: 100%;
  height: 29px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1727px;
  overflow: hidden;
}

.v1921_11 {
  width: 212px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  left: 20%;
  transform: translate(-50%,0%);
}

.v1921_18 {
  width: 100%;
  height: 29px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2488px;
  overflow: hidden;
}

.v1921_19 {
  width: 212px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  left: 20%;
  transform: translate(-50%,0%);}

.v1921_4 {
  width: 100%;
  height: 29px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1077px;
  overflow: hidden;
}

.v1921_5 {
  width: 192px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  left: 20%;
  transform: translate(-50%,0%);
}

.v1921_12 {
  width: 100%;
  height: 29px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1838px;
  overflow: hidden;
}

.v1921_13 {
  width: 192px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  left: 20%;
  transform: translate(-50%,0%);
}

.v1921_20 {
  width: 100%;
  height: 29px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2599px;
  overflow: hidden;
}

.v1921_21 {
  width: 192px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  left: 20%;
  transform: translate(-50%,0%);
}

.v1921_6 {
  width: 100%;
  height: 29px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1177px;
  overflow: hidden;
}

.v1921_7 {
  width: 165px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  left: 20%;
  transform: translate(-50%,0%);
}

.v1921_14 {
  width: 100%;
  height: 29px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1949px;
  overflow: hidden;
}

.v1921_15 {
  width: 165px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  left: 20%;
  transform: translate(-50%,0%);
}

.v1921_22 {
  width: 100%;
  height: 29px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2710px;
  overflow: hidden;
}

.v1921_23 {
  width: 165px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: 0px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  left: 20%;
  transform: translate(-50%,0%);
}

.langinput {
  width: 250px;
  height: 50px;
  background: rgba(255,255,255,1);
  position: absolute;
  border: none;
  border-radius:38px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 18px;
  text-align: center;
  left: 50%;
  transform: translate(-50%,0%);
}

.v1920_304 {
  width: 100%;
  height: 640px;
  background: rgba(240,141,122,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.person1 {
  width: 40%;
  height: 205px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 5%;
  overflow: hidden;
}
.firststars {
  width: 80%;
  height: 40px;
  opacity: 1;
  position: absolute;
  top: 95px;
  left: 10%;
  overflow: hidden;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 30px;
  text-align:center;
}
.name1 {
  width: 60%;
  height: 40px;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 87px;
  overflow: hidden;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 30px;
  text-align:center;
}
.id1 {
  width: 25%;
  height: 30%;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 15px;
  overflow: hidden;
}
.secondstars {
  width: 80%;
  height: 40px;
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 10%;
  overflow: hidden;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 30px;
  text-align:center;
}
.firsttitle {
  width: 100px;
  height: 25px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 10%;
  overflow: hidden;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 20px;
}
.secondtitle {
  width: 100px;
  height: 25px;
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 10%;
  overflow: hidden;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 20px;
}
.person2 {
  width: 40%;
  height: 205px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 65px;
  right: 5%;
  overflow: hidden;
}


.person3 {
  width: 40%;
  height: 205px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 347px;
  left: 5%;
  overflow: hidden;
}


.person4 {
  width: 40%;
  height: 205px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 347px;
  right: 5%;
  overflow: hidden;
}

.v1920_337 {
  width: 164px;
  height: 37px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 802px;
  left: 558px;
  overflow: hidden;
}
.v1920_338 {
  width: 164px;
  height: 196px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 562px;
  left: 558px;
  overflow: hidden;
}
.photo1 {
  width: 100%;
  height: 100%;
  background: url("https://drive.google.com/thumbnail?id=1zYIiuRSE7BG4qmqxe_ZbXcxolb65I7rh");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.photo2 {
  width: 100%;
  height: 100%;
  background: url("https://drive.google.com/thumbnail?id=1qIzjW8gG-7vzS3PE5twMJcfY7eBCq4v1");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.photo3 {
  width: 100%;
  height: 100%;
  background: url("https://drive.google.com/thumbnail?id=11m-Ko9_zG7I-oqRY5cXW880GUBzQR7My");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.photo4 {
  width: 100%;
  height: 100%;
  background: url("https://drive.google.com/thumbnail?id=181PIHIPQOhKzB1gKdmld_0PXekQOKPUs");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
