* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  padding: 100px;
}

.v1517_130 {
  width: 360px;
  height: 640px;
  background: rgba(240,141,122,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1517_131 {
  width: 224px;
  height: 465px;
  background: url("https://drive.google.com/thumbnail?id=1Q1bMbji9CXYAF_Ox_eAUMAQHXqZNIIvB");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 40%;
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 66px;
  overflow: hidden;
}
.v1517_132 {
  width: 224px;
  height: 290px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1517_154 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 66px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v1517_155 {
  width: 218px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 448px;
  left: 5px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}


.page {
  width: 360px;
  height: 640px;
  background: rgba(240,141,122,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.bottom {
  width: 304px;
  height: 82px;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 522px;
  left: 28px;
}
.startholder {
  width: 304px;
  height: 51px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.start {
  width: 304px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.forgot {
  width: 275px;
  position: absolute;
  top: 65px;
  left: 14px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.nameholder {
  width: 304px;
  height: 60px;
  opacity: 1;
  position: absolute;
  top: 307px;
  left: 26px;
  overflow: hidden;
}
.nameinput {
  width: 304px;
  height: 60px;
  background: rgba(255,255,255,1);
  position: absolute;
  border: none;
  border-radius:38px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 14px;
}
.passwordholder {
  width: 304px;
  height: 60px;
  opacity: 1;
  position: absolute;
  top: 377px;
  left: 26px;
  border: none;
  overflow: hidden;
}
.picsignin {
  width: 270px;
  height: 223px;
  background: url("https://drive.google.com/thumbnail?id=1Q1bMbji9CXYAF_Ox_eAUMAQHXqZNIIvB");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 45px;
  overflow: hidden;
}


.v1703_873 {
  width: 360px;
  height: 640px;
  background: rgba(240,141,122,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1703_874 {
  width: 280px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 112px;
  left: 43px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v1703_875 {
  width: 280px;
  height: 29px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 247px;
  left: 40px;
  overflow: hidden;
}
.v1703_876 {
  width: 280px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1703_897 {
  width: 280px;
  height: 29px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 511px;
  left: 43px;
  overflow: hidden;
}
.v1703_898 {
  width: 280px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1703_919 {
  width: 280px;
  height: 29px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 423px;
  left: 43px;
  overflow: hidden;
}
.v1703_920 {
  width: 280px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1703_941 {
  width: 280px;
  height: 29px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 335px;
  left: 40px;
  overflow: hidden;
}
.v1703_942 {
  width: 280px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1703_963 {
  width: 236px;
  height: 40px;
  opacity: 1;
  position: absolute;
  top: 280px;
  left: 40px;
  overflow: hidden;
}
.v1703_964 {
  width: 236px;
  height: 40px;
  opacity: 1;
  position: absolute;
  top: 368px;
  left: 40px;
  overflow: hidden;
}
.v1703_965 {
  width: 236px;
  height: 40px;
  opacity: 1;
  position: absolute;
  top: 456px;
  left: 40px;
  overflow: hidden;
}
.v1703_966 {
  width: 236px;
  height: 40px;
  opacity: 1;
  position: absolute;
  top: 544px;
  left: 40px;
  overflow: hidden;
}
.v1706_0 {
  width: 54px;
  height: 48px;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 276px;
  overflow: hidden;
}
.v1706_1 {
  width: 54px;
  height: 48px;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 30px;
  overflow: hidden;
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
a:hover {
  background-color: #ddd;
  color: black;
}
.previous {
  background-color: #f1f1f1;
  color: black;
}
.next {
  background-color: #f1f1f1;
  color: black;
}
.round {
  border-radius: 50%;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:38px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '\2605';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.ratea {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.ratea:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.ratea:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:38px;
    color:#ccc;
}
.ratea:not(:checked) > label:before {
    content: '\2605';
}
.ratea > input:checked ~ label {
    color: #ffc700;    
}
.ratea:not(:checked) > label:hover,
.ratea:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.ratea > input:checked + label:hover,
.ratea > input:checked + label:hover ~ label,
.ratea > input:checked ~ label:hover,
.ratea > input:checked ~ label:hover ~ label,
.ratea > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.rateb {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rateb:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rateb:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:38px;
    color:#ccc;
}
.rateb:not(:checked) > label:before {
    content: '\2605';
}
.rateb > input:checked ~ label {
    color: #ffc700;    
}
.rateb:not(:checked) > label:hover,
.rateb:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rateb > input:checked + label:hover,
.rateb > input:checked + label:hover ~ label,
.rateb > input:checked ~ label:hover,
.rateb > input:checked ~ label:hover ~ label,
.rateb > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.ratec {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.ratec:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.ratec:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:38px;
    color:#ccc;
}
.ratec:not(:checked) > label:before {
    content: '\2605';
}
.ratec > input:checked ~ label {
    color: #ffc700;    
}
.ratec:not(:checked) > label:hover,
.ratec:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.ratec > input:checked + label:hover,
.ratec > input:checked + label:hover ~ label,
.ratec > input:checked ~ label:hover,
.ratec > input:checked ~ label:hover ~ label,
.ratec > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.v1700_1023 {
  width: 360px;
  height: 640px;
  background: rgba(240,141,122,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1700_1024 {
  width: 280px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 138px;
  left: 42px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v1700_1043 {
  width: 280px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 319px;
  left: 30px;
  overflow: hidden;
}
.v1700_1044 {
  width: 280px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1708_1 {
  width: 181px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 311px;
  left: 59px;
  overflow: hidden;
}
.v1708_2 {
  width: 181px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.v1708_4 {
  width: 181px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 370px;
  left: 59px;
  overflow: hidden;
}
.v1708_5 {
  width: 181px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.v1708_8 {
  width: 181px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 429px;
  left: 59px;
  overflow: hidden;
}
.v1708_9 {
  width: 181px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.v1708_10 {
  width: 181px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 488px;
  left: 59px;
  overflow: hidden;
}
.v1708_11 {
  width: 181px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
