* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}


.v1920_300 {
  width: 100%;
  height: 640px;
  background: rgba(240, 141, 122, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v1920_301 {
  width: 502px;
  height: 77px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 389px;
  overflow: hidden;
}

.v1920_302 {
  width: 212px;
  height: 46px;
  opacity: 1;
  position: absolute;
  top: 58%;
  overflow: hidden;
  transform: translate(-50%,0);
  background-color: rgba(240, 141, 122, 1);
  color: rgba(36, 36,36, 1);
  border: none;
  text-align: center;
  left: 50%;
}

.v1920 {
  width: 40%;
  opacity: 1;
  position: absolute;
  top: 65%;
  overflow: hidden;
  transform: translate(-50%,0);
  border: none;
  left: 50%;
}

.v1920_308 {
  width: 382px;
  color: rgba(36, 36,36, 1);
  top: 45%;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.v1920_399 {
  width: 382px;
  color: rgba(36, 36, 36, 1);
  top: 54.5%;
  font-family: Poppins;
  font-weight: 1px;
  font-size: 14px;
  opacity: 1;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}

.v1920_309 {
  width: 100%;
  height: 7%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 69%;
  overflow: hidden;
  font-family: Poppins;
  font-size: 14px;
}

.v1920_310 {
  width: 177px;
  height: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
  color: rgba(240, 141, 122, 1);
  background-color: rgba(247,228,225,1);
  font-family: Poppins;
  font-size: 14px;
  border: none;
}
.v1517_131 {
  width: 100%;
  height: 49%;
  background: url("https://drive.google.com/thumbnail?id=1Q1bMbji9CXYAF_Ox_eAUMAQHXqZNIIvB");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1;
  position: absolute;
  top: 3%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%,0);
}
.v1920_311 {
  width: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}

.v1920_304 {
  width: 100%;
  height: 1000px;
  background: rgba(247,228,225,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.yourteam {
  width: 100%;
  height: 50px;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%,0);;
  overflow: hidden;
}

.team {
  color: rgba(36, 36,36, 1);
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.firststars {
  width: 100px;
  height: 25px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 60%;
  overflow: hidden;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 18px;
}
.name1 {
  width: 60%;
  height: 40px;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 30%;
  overflow: hidden;
  font-family: Inter;
  font-size: 20px;
  text-align:left;
}

.id1 {
  width: 150px;
  height: 150px;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.secondstars {
 width: 100px;
  height: 25px;
  opacity: 1;
  position: absolute;
  top: 105px;
  left: 60%;
  overflow: hidden;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 18px;
}
.firsttitle {
  width: 100px;
  height: 25px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 30%;
  overflow: hidden;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 18px;
}

.agetxt {
  width: 100px;
  height: 25px;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 30%;
  overflow: hidden;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 18px;
}

.secondtitle {
  width: 100px;
  height: 25px;
  opacity: 1;
  position: absolute;
  top: 105px;
  left: 30%;
  overflow: hidden;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 18px;
}

.person1 {
  width: 80%;
  height: 150px;
  background: rgba(240, 141, 122, 1);
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%,0);
  overflow: hidden;
}

.person2 {
  width: 80%;
  height: 150px;
  background: rgba(240, 141, 122, 1);
  opacity: 1;
  position: absolute;
  top: 330px;
  left: 50%;
  transform: translate(-50%,0);
  overflow: hidden;
}


.person3 {
  width: 80%;
  height: 150px;
  background: rgba(240, 141, 122, 1);
  opacity: 1;
  position: absolute;
  top: 510px;
  left: 50%;
  transform: translate(-50%,0);
  overflow: hidden;
}


.person4 {
  width: 80%;
  height: 150px;
  background: rgba(240, 141, 122, 1);
  opacity: 1;
  position: absolute;
  top: 690px;
  left: 50%;
  transform: translate(-50%,0);;
  overflow: hidden;
}

.startplayholder {
  width: 100%;
  height: 50px;
  opacity: 1;
  position: absolute;
  top: 870px;
  left: 50%;
  transform: translate(-50%,0);;
  overflow: hidden;
}

.play {
  width: 177px;
  height: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
  color: rgba(247,228,225,1);
  background-color: rgba(240, 141, 122, 1);
  font-family: Poppins;
  font-size: 14px;
  border: none;
}

.v1920_337 {
  width: 164px;
  height: 37px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 802px;
  left: 558px;
  overflow: hidden;
}
.v1920_338 {
  width: 164px;
  height: 196px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 562px;
  left: 558px;
  overflow: hidden;
}
.photo1 {
  width: 90%;
  height: 80%;
  background: url("https://drive.google.com/thumbnail?id=1zYIiuRSE7BG4qmqxe_ZbXcxolb65I7rh");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 50%;
}
.photo2 {
  width: 90%;
  height: 80%;
  background: url("https://drive.google.com/thumbnail?id=1qIzjW8gG-7vzS3PE5twMJcfY7eBCq4v1");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.photo3 {
  width: 90%;
  height: 80%;
  background: url("https://drive.google.com/thumbnail?id=11m-Ko9_zG7I-oqRY5cXW880GUBzQR7My");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.photo4 {
  width: 90%;
  height: 80%;
  background: url("https://drive.google.com/thumbnail?id=181PIHIPQOhKzB1gKdmld_0PXekQOKPUs");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.gif {
  width: 40%;
  height: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  border-top-left-radius: 75px;
  border-top-right-radius: 75px;
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px;
  border: solid black;
  border-width:8px;
}
